.primaryLinkButton:link,
.primaryLinkButton:visited {
	font-size: 0.94em;
	display: inline-block;
	text-decoration: none;
	border-radius: 30px;
	text-transform: uppercase;
	padding: 12px 30px;
	font-weight: bold;
	letter-spacing: 0.04em;
	min-width: 150px;
	text-align: center;
	background-color: $colour-purple;
	color: $colour-white;

	margin-bottom: 30px;
	margin-left: 20px;
}

.primaryLinkButton:hover {
	background-color: $colour-purple-dark;
}
