.primaryLinkButton:link,
.primaryLinkButton:visited {
	font-size: 0.94em;
	display: inline-block;
	text-decoration: none;
	border-radius: $spacing-scale-3;
	text-transform: uppercase;
	padding: $spacing-scale-2 $spacing-scale-3;
	font-weight: bold;
	letter-spacing: 0.04em;
	text-align: center;
	background-color: $colour-purple;
	color: $colour-white;

	margin-bottom: $spacing-scale-4;
	margin-left: $spacing-scale-3;
}

.primaryLinkButton:hover {
	background-color: $colour-purple-dark;
}
