.primaryLinkButton:link,
.primaryLinkButton:visited {
	font-size: em(14);
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.75;
	display: inline-block;
	text-decoration: none;
	border-radius: $spacing-scale-3;
	padding: $spacing-scale-2 $spacing-scale-3;
	font-weight: bold;
	text-align: center;
	background-color: $colour-purple;
	color: $colour-white;

	margin-bottom: $spacing-scale-4;
	margin-left: $spacing-scale-3;
	@include mq($from: md) {
		font-size: em(16);
	}
}

.primaryLinkButton:hover {
	background-color: $colour-purple-dark;
}
