main {
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 748px;
	margin-left: auto;
	margin-right: auto;
}

main h1 {
	font-size: 1.88em;
	line-height: 1.2;
	margin-bottom: 20px;
	padding-left: $spacing-scale-3;
	padding-right: $spacing-scale-3;
	color: $colour-black;
	letter-spacing: -1px;
}

@media(min-width: 37.5em) {
	main h1 {
		font-size: 2.8em;
	}
}

main h2 {
	font-size: 1.38em;
	line-height: 1.2;
	margin-bottom: $spacing-scale-1;
	margin-top: $spacing-scale-2;
	padding-left: $spacing-scale-3;
	padding-right: $spacing-scale-3;
	color: $colour-black;
	letter-spacing: -0.01em;
}

@media(min-width: 37.5em) {
	main h2 {
		font-size: 1.57em;
		margin-bottom: $spacing-scale-2;
	}
}

main h3 {
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: $spacing-scale-1;
	padding-left: $spacing-scale-3;
	padding-right: $spacing-scale-3;
	color: $colour-black;
	text-transform: uppercase;
}

@media(min-width: 37.5em) {
	main h3 {
		font-size: 1.19em;
		margin-bottom: $spacing-scale-2;
	}
}

main p {
	font-size: 1.13em;
	line-height: 1.7em;
	margin-bottom: $spacing-scale-4;
	padding-left: $spacing-scale-3;
	padding-right: $spacing-scale-3;
	color: $colour-black;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	main p {
		font-size: 1.38em;
		margin-bottom: $spacing-scale-5;
	}
}

main ol,
main ul {
	margin-bottom: $spacing-scale-4;
	padding-left: $spacing-scale-3;
	padding-right: $spacing-scale-3;
	color: $colour-black;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	main ol,
	main ul {
		margin-bottom: $spacing-scale-5;
	}
}

main ol li,
main ul li {
	font-size: 1.13em;
	line-height: 1.7em;
	margin-left: $spacing-scale-4;
	margin-bottom: $spacing-scale-1 / 2;
}

@media(min-width: 37.5em) {
	main ol li,
	main ul li {
		font-size: 1.38em;
		margin-bottom: $spacing-scale-1;
	}
}

blockquote {
	font-style: italic;
	margin-bottom: $spacing-scale-4;
	color: $colour-black;
}

blockquote cite {
	font-weight: bold;
}

main p code,
main ul code,
main li code {
	font-size: 1.3em;
	color: $colour-orange;
}

main pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.2em;
	color: $colour-black;
	background-color: $colour-purple-light;
	margin-bottom: $spacing-scale-4;
	padding: $spacing-scale-3;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media(min-width: 37.5em) {
	main pre {
		font-size: 1.69em;
		margin-bottom: $spacing-scale-5;
	}
}