body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	border-top: 6px solid $colour-purple;
}

a:link,
a:visited {
	color: $colour-black;
}

a:hover,
a:focus {
	text-decoration: none;
}