.header {
	background-color: $colour-grey-light;
}

.header-inner {
	overflow: hidden;
	padding: $spacing-scale-2 $spacing-scale-3;
	max-width: 700px;
	margin: 0 auto;
}

.logo {
	font-size: 1.25em;
	text-align: center;
}

@media(min-width: 21.25em) {
	.logo {
		float: left;
		font-size: 0.94em;
	}
}

.logo a {
	text-decoration: none;
	font-weight: bold;
}