.navigation {
	font-size: 0.94em;
	text-align: center;
	margin-top: $spacing-scale-1;
}

@media(min-width: 21.25em) {
	.navigation {
		float: right;
		margin-top: 0;
	}
}

.navigation li {
	list-style: none;
	display: inline;
}

.navigation a {
	margin-left: $spacing-scale-1 / 2;
	margin-right: $spacing-scale-1 / 2;
	text-decoration: none;
}

@media(min-width: 21.25em) {
	.navigation a {
		margin-left: $spacing-scale-1;
		margin-right: $spacing-scale-1;
	}
}

.navigation a:hover,
.navigation a:active {
	color: $colour-purple-dark;
}

a.navigation-isActive {
	border-bottom: 1px solid $colour-purple-dark;
}
