.navigation {
	font-size: 0.94em;
	text-align: center;
	margin-top: 10px;
}

@media(min-width: 21.25em) {
	.navigation {
		float: right;
		margin-top: 0;
	}
}

.navigation li {
	list-style: none;
	display: inline;
}

.navigation a {
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
}

@media(min-width: 21.25em) {
	.navigation a {
		margin-left: 7px;
		margin-right: 7px;
	}
}

.navigation a:hover,
.navigation a:active {
	color: #8E55A9;
}

a.navigation-isActive {
	border-bottom: 1px solid #8E55A9;
}
