.nav {
	font-size: em(16);
	line-height: 1;
	text-align: center;
	margin-top: $spacing-scale-1;
}

@media(min-width: 21.25em) {
	.nav {
		float: right;
		margin-top: 0;
	}
}

.nav li {
	list-style: none;
	display: inline;
}

.nav a {
	margin-left: $spacing-scale-1 / 2;
	margin-right: $spacing-scale-1 / 2;
	text-decoration: none;
}

@media(min-width: 21.25em) {
	.nav a {
		margin-left: $spacing-scale-1;
		margin-right: $spacing-scale-1;
	}
}

.nav a:hover {
	color: $colour-purple-dark;
}

.nav a:active {
	color: $colour-white;
	background-color: $colour-purple-dark;
}

a.nav-isActive {
	font-weight: bold;
}
