.subscribeForm-inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	padding: $spacing-scale-5 $spacing-scale-3;
}

.subscribeForm-heading {
	@include typography(l);
	margin-bottom: $spacing-scale-1;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-2;
	}
}

.subscribeForm p {
	@include typography(body);
  margin-bottom: $spacing-scale-3;
	max-width: 620px;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-4;
	}
}

.subscribeForm-label {
	@include typography(body);
  margin-bottom: $spacing-scale-1;
	display: block;
}

.subscribeForm-email {
	text-decoration: none;
	padding: $spacing-scale-1;
	font-size: 1.25em;
	color: $colour-black;
	border: 3px solid $colour-black;
	margin: 0 auto;
	-webkit-appearance: none;
	background-color: $colour-white;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: $spacing-scale-2;
}

@media(min-width: 37.5em) {
	.subscribeForm-email {
		font-size: 1.38em;
	}
}

@media(min-width: 36em) {
	.subscribeForm-email {
		display: inline-block;
		max-width: 330px;
		margin-right: $spacing-scale-1;
	}
}

.subscribeForm-email:focus {
	outline: 3px solid $colour-black;
}

.subscribeForm-button {
	text-transform: uppercase;
	text-decoration: none;
	padding: $spacing-scale-2;
	font-size: 0.94em;
	color: $colour-black;
	font-weight: bold;
	border: none;
	letter-spacing: 0.04em;
	text-align: center;
	margin: 0 auto;
	-webkit-appearance: none;
	background-color: $colour-purple;
	color: $colour-white;
	width: 100%;
	box-sizing: border-box;
	border-radius: $spacing-scale-3;
}

@media(min-width: 36em) {
	.subscribeForm-button {
		display: inline-block;
		width: 180px;
	}
}

.subscribeForm-button:hover {
	background-color: $colour-purple-dark;
}