<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<meta name="Author" content="Adam Silver">
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %} {{ site.name }}">
<meta property="og:description" content="{% if page.title %}{{ page.title }} - {% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">
<meta property="og:site_name" content="Maintainable CSS">

<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all">

<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

<link rel="shortcut icon" href="{{ site.url }}/favicon.png" media="all">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Some title"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ site.url }}/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{ site.url }}/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{ site.url }}/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.url }}/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{ site.url }}/mstile-310x310.png" />



<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/adamsilver">
<link rel="author" href="https://plus.google.com/u/0/+AdamSilver1">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47311666-3', 'auto');
  ga('send', 'pageview');

</script>

