<div id="newsletterForm">

	<h2 class="heading">Join the tribe? Enter your <label for="mce-EMAIL">email address</label> to receive articles straight to your inbox.</h2>

	<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">

		<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">

		<!-- new articles -->
		<input type="hidden" value="1" name="group[25985][1]">

		<!-- javascript progressive enhance tips
		<input type="checkbox" value="2" name="group[25985][2]" id="mce-group[25985]-25985-1">
		-->

		<div class="field">
			<input placeholder="Your email address..." type="email" name="EMAIL" id="mce-EMAIL" class="email" required>
			<input class="signUpNowButton" type="submit" value="Sign up now" name="subscribe">
		</div>

	</form>
</div>