<div class="subscribeForm">
	<div class="subscribeForm-inner">
		<form action="//maintainablecss.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=cf3191eba5" method="post">

			<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_cf3191eba5" value="">

			<h2 class="subscribeForm-heading">Want to learn even more?</h2>
			<p><label for="mce-EMAIL">Enter your email and I will send you new chapters as I release them.</label></p>

			<input placeholder="Your email address..." type="email" name="EMAIL" id="mce-EMAIL" class="subscribeForm-email" required>
			<input class="subscribeForm-button" type="submit" value="Yes, I want updates!" name="subscribe">

		</form>
	</div>
</div>