/**********************************************************
* Open Sans
**********************************************************/

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/**********************************************************
* PT Serif
**********************************************************/

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-Regular.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-Italic.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-Bold.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-BoldItalic.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}


/**********************************************************
* General
**********************************************************/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    font-size: 100%;
}

a:link,
a:visited {
	color: #222;
}

a:hover,
a:focus {
	text-decoration: none;
}

/**********************************************************
* Primary button
**********************************************************/

.primaryLinkButton:link,
.primaryLinkButton:visited {
	font-size: 0.94em;
	display: inline-block;
	text-decoration: none;
	margin: 0 auto;
	border-radius: 30px;
	text-transform: uppercase;
	padding: 12px 30px;
	color: #8E55A9;
	border: 2px solid #8E55A9;
	font-weight: bold;
	letter-spacing: 0.04em;
	width: 150px;
	text-align: center;
	margin: 0 auto;
}

.primaryLinkButton:hover {
	color: #fff;
	background-color: #8E55A9;
}

/**********************************************************
* Footer
**********************************************************/

.footer {
	padding: 20px;
	overflow: hidden;
}

.footer-inner {
	max-width: 700px;
	margin: 0 auto;
}

.footer p {
	color: #222;
	font-size: 0.94em;
}

.footer a {
	color: #222;
}

/**********************************************************
* Header
**********************************************************/

.header {
	background-color: #fafafa;
}

.header-inner {
	overflow: hidden;
	padding: 20px;
	max-width: 700px;
	margin: 0 auto;
}

/**********************************************************
* Logo
**********************************************************/

.logo {
	font-size: 1.25em;
	text-align: center;
}

@media(min-width: 21.25em) {
	.logo {
		float: left;
		font-size: 0.94em;
	}
}

.logo a {
	text-decoration: none;
	font-weight: bold;
}

/**********************************************************
* Navigation
**********************************************************/

.navigation {
	font-size: 0.94em;
	text-align: center;
	margin-top: 10px;
}

@media(min-width: 21.25em) {
	.navigation {
		float: right;
		margin-top: 0;
	}
}

.navigation li {
	list-style: none;
	display: inline;
}

.navigation a {
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
}

@media(min-width: 21.25em) {
	.navigation a {
		margin-left: 7px;
		margin-right: 7px;
	}
}

.navigation a:hover,
.navigation a:active {
	color: #8E55A9;
}

a.navigation-isActive {
	border-bottom: 1px solid #8E55A9;
}

/**********************************************************
* Content
**********************************************************/

.content {
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.content h1 {
	font-size: 1.88em;
	line-height: 1.2;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #222;
	letter-spacing: -1px;
}

@media(min-width: 37.5em) {
	.content h1 {
		font-size: 2.8em;
	}
}

.content h2 {
	font-size: 1.38em;
	line-height: 1.2;
	margin-bottom: 10px;
	margin-top: 11px;
	padding-left: 20px;
	padding-right: 20px;
	color: #222;
	letter-spacing: -0.01em;
}

@media(min-width: 37.5em) {
	.content h2 {
		font-size: 1.57em;
		margin-bottom: 15px;
	}
}

.content h3 {
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #222;
	text-transform: uppercase;
}

@media(min-width: 37.5em) {
	.content h3 {
		font-size: 1.19em;
		margin-bottom: 15px;
	}
}

.content p {
	font-size: 1.13em;
	line-height: 1.7em;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: #222;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.content p {
		font-size: 1.38em;
		margin-bottom: 40px;
	}
}

.content ol,
.content ul {
	margin-bottom: 35px;
	padding-left: 20px;
	padding-right: 20px;
	color: #222;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.content ol,
	.content ul {
		margin-bottom: 40px;
	}
}

.content ol li,
.content ul li {
	font-size: 1.13em;
	line-height: 1.7em;
	margin-left: 30px;
	margin-bottom: 5px;
}

@media(min-width: 37.5em) {
	.content ol li,
	.content ul li {
		font-size: 1.38em;
		margin-bottom: 10px;
	}
}

.content blockquote {
	font-style: italic;
	margin-bottom: 30px;
	padding: 0 20px;
	color: #222;
}

.content blockquote cite {
	font-weight: bold;
}

.content p code,
.content ul code,
.content li code {
	font-size: 1.3em;
	color: #ff851b;
}

.content pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.44em;
	font-size: 1.2em;
	color: #222;
	background-color: #fcf6ff;
	margin-bottom: 30px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media(min-width: 37.5em) {
	.content pre {
		font-size: 1.69em;
		margin-bottom: 45px;
	}
}

/**********************************************************
* Chapter navigation
**********************************************************/

.chapterNavigation {
	margin-bottom: 60px;
	text-align: center;
}

@media(min-width: 37.5em) {
	.chapterNavigation {
		margin-bottom: 80px;
	}
}

/**********************************************************
* Hero
**********************************************************/

.hero {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

/**********************************************************
* Chapters
**********************************************************/

.chapters {
	background-color: #fafafa;
	padding-top: 40px;
	padding-bottom: 40px;
}

.chapters-inner {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

.chapters h2 {
	font-size: 1.38em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

@media(min-width: 37.5em) {
	.chapters h2 {
		font-size: 1.57em;
		margin-bottom: 15px;
	}
}

.chapters ol {
	margin-left: 20px;
	font-size: 1.13em;
	line-height: 1.7em;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.chapters ol {
		font-size: 1.38em;
	}
}

.chapters-isCurrentPage {
	padding-left: 5px;
	font-weight: bold;
}

/**********************************************************
* Got question
**********************************************************/

.gotQuestion {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.gotQuestion-inner {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

.gotQuestion h2 {
	font-size: 1.38em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

@media(min-width: 37.5em) {
	.gotQuestion h2 {
		font-size: 1.57em;
		margin-bottom: 15px;
	}
}

.gotQuestion p {
	font-size: 1.13em;
	line-height: 1.7em;
	margin-bottom: 30px;
}

@media(min-width: 37.5em) {
	.gotQuestion p {
		font-size: 1.38em;
	}
}


/**********************************************************
* Share
**********************************************************/

.share {
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 700px;
	margin: 0 auto;
}

.share-button:link,
.share-button:visited {
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 30px;
	font-size: 0.7em;
	color: #222;
	border: 2px solid #f5f5f5;
	font-weight: bold;
	letter-spacing: 0.04em;
	width: 150px;
	text-align: center;
	margin: 0 auto;
}

.share-button:hover {
	background-color: #f5f5f5;
}

/**********************************************************
* Recs
**********************************************************/

.recommendations {
	padding: 40px 20px 20px;
}

.recommendations-title {
	text-align: center;
	font-size: 1.75em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: #222;
}

@media(min-width: 37.5em) {
	.recommendations-title {
		font-size: 2.19em;
	}
}

.recommendations-item {
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #222;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px dotted #aaa;
	max-width: 500px;
}

@media(min-width: 37.5em) {
	.recommendations-item {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.recommendations-item:last-child {
	border: none;
	margin-bottom: 0;
}

.recommendations-item p {
	font-size: 1.13em;
    line-height: 1.7em;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    color: #222;
    text-align: center;
    font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.recommendations-item p {
		font-size: 1.38em;
	}
}

.recommendations-item cite {
	font-weight: bold;
}

.subscribeForm-inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	padding: 40px 20px;
}

.subscribeForm-heading {
	font-size: 1.38em;
    line-height: 1.2em;
    margin-bottom: 10px;
}

@media (min-width: 37.5em) {
	.subscribeForm-heading {
	    font-size: 1.57em;
	    margin-bottom: 15px;
	}
}

.subscribeForm p {
	font-size: 1.13em;
    line-height: 1.7em;
    margin-bottom: 20px;
    max-width: 620px;
    font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.subscribeForm p {
		font-size: 1.38em;
		margin-bottom: 30px;
	}
}

.subscribeForm-label {
	font-size: 1.13em;
	line-height: 1.5;
	margin-bottom: 5px;
	display: block;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.subscribeForm-label {
		font-size: 1.38em;
	}
}

.subscribeForm-email {
	text-decoration: none;
	padding: 9px 10px;
	font-size: 1.13em;
	color: #222;
	border: 2px solid #222;
	letter-spacing: -0.01em;
	margin: 0 auto;
	-webkit-appearance: none;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.subscribeForm-email {
		font-size: 1.38em;
	}
}

@media(min-width: 36em) {
	.subscribeForm-email {
		display: inline-block;
		max-width: 330px;
		margin-right: 10px;
	}
}

.subscribeForm-email:focus {
	outline: 3px solid #222;
	border: 2px solid #222;
}

.subscribeForm-button {
	text-transform: uppercase;
	text-decoration: none;
	padding: 13px 17px;
	font-size: 0.94em;
	color: #222;
	font-weight: bold;
	border: none;
	letter-spacing: 0.04em;
	text-align: center;
	margin: 0 auto;
	-webkit-appearance: none;
	border: 2px solid #222;
	background-color: transparent;
	color: #222;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Open sans';
	border-radius: 30px;
}

@media(min-width: 36em) {
	.subscribeForm-button {
		display: inline-block;
		width: 180px;
	}
}

.subscribeForm-button:hover {
	background-color: #222;
	color: #fff;
}