/**********************************************************
* General
**********************************************************/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 62.5%;

}

a:link,
a:visited {
	color: #000;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	color: #f45b72;
}

/**********************************************************
* Footer
**********************************************************/

.footer {
	background-color: #222;
	padding: 20px;
	overflow: hidden;
}

.footer p {
	color: #fff;
	font-size: 1.5em;
}

.footer a {
	color: #fff;
}

/**********************************************************
* Header
**********************************************************/

.header {
	background-color: #222;
	padding: 20px;
	overflow: hidden;
}

/**********************************************************
* Logo
**********************************************************/

.logo {
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}

@media(min-width: 400px) {
	.logo {
		float: left;
		margin-bottom: 0;
		font-size: 1.5em;
		font-weight: normal;
	}
}

.logo a {
	text-decoration: none;
	color: #fff;
}

/**********************************************************
* Navigation
**********************************************************/

.navigation {
	font-size: 1.5em;
	text-align: center;
}

@media(min-width: 400px) {
	.navigation {
		float: right;
	}
}

.navigation a {
	margin-left: 7px;
	margin-right: 7px;
	text-decoration: none;
	color: #fff;
}

.navigation a:active {
	color: #f45b72;
}

a.navigation-isActive {
	font-weight: bold;
}

/**********************************************************
* Content
**********************************************************/

.content {
	padding-top: 30px;
	padding-top: 40px;
}

.content h1 {
	font-size: 3em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px 20px;
}

@media(min-width: 600px) {
	.content h1 {
		font-size: 4.5em;
	}
}

.content h2 {
	font-size: 2.2em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0 20px;
}

@media(min-width: 600px) {
	.content h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
}

.content h3 {
	font-size: 1.8em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0 20px;
}

@media(min-width: 600px) {
	.content h3 {
		font-size: 2.2em;
		margin-bottom: 15px;
	}
}

.content p {
	font-size: 1.8em;
	line-height: 1.7em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px 10px;
}

@media(min-width: 600px) {
	.content p {
		font-size: 2.2em;
		margin-bottom: 45px;
	}
}

.content ol,
.content ul {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px 10px;
}

@media(min-width: 600px) {
	.content ol,
	.content ul {
		margin-bottom: 45px;
	}
}

.content ol li,
.content ul li {
	font-size: 1.8em;
	line-height: 1.7em;
	margin-left: 30px;
}

@media(min-width: 600px) {
	.content ol li,
	.content ul li {
		font-size: 2.2em;
	}
}

.content blockquote {
	font-style: italic;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px;
}

.content blockquote cite {
	font-weight: bold;
}

.content p code {
	background: #ddd;
	font-size: 1.3em;
}

.content pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.9em;
	background-color: #DDDDDD;
	margin-bottom: 30px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 600px) {
	.content pre {
		font-size: 2.6em;
		margin-bottom: 45px;
	}
}

/**********************************************************
* Chapter navigation
**********************************************************/

.chapterNavigation {
	font-size: 1.5em;
	overflow: hidden;
	background-color: #f45b72;
}

.chapterNavigation-inner {
	overflow: hidden;
	max-width: 760px;
	padding: 20px;
	margin: 0 auto;
}

a.chapterNavigation-previous:link,
a.chapterNavigation-previous:visited {
	float: left;
	text-decoration: none;
}

a.chapterNavigation-next:link,
a.chapterNavigation-next:visited {
	float: right;
	text-decoration: none;
}

a.chapterNavigation-previous:active,
a.chapterNavigation-next:active {
	color: #000;
}

/**********************************************************
* Hero
**********************************************************/

.hero {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f45b72;
}

@media(min-width: 600px) {
	.hero {
		padding-top: 110px;
		padding-bottom: 100px;
	}
}

.hero h1 {
	font-size: 3em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px 20px;
	text-align: center;
}

@media(min-width: 600px) {
	.hero h1 {
		font-size: 4.5em;
	}
}

.hero p {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.7em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px 10px;
}

@media(min-width: 600px) {
	.hero p {
		font-size: 2.2em;
	}
}

.hero-button:link,
.hero-button:visited {
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 70px;
	font-size: 1.2em;
	background-color: #222;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 0.04em;
	width: 100px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.hero-button:hover {
	background-color: #444;
}

/**********************************************************
* Benefits
**********************************************************/

.benefits {
	padding: 50px 20px;
	background-color: #f5f5f5;
}

.benefits h2 {
	text-align: center;
	font-size: 2.8em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

@media(min-width: 600px) {
	.benefits h2 {
		font-size: 3.5em;
	}
}

.benefit {
	border-bottom: 1px dotted #aaa;
    max-width: 600px;
    margin: 0 auto 40px;
}

.benefit h3 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 7px;
}

@media(min-width: 600px) {
	.benefits h3 {
		font-size: 2.5em;
	}
}

.benefit p {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.4em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px 10px;
}

@media(min-width: 600px) {
	.benefit p {
		font-size: 2.2em;
	}
}

.benefit-readNowButton:link,
.benefit-readNowButton:visited {
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 70px;
	font-size: 1.2em;
	background-color: #222;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 0.04em;
	width: 100px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.benefit-readNowButton:hover {
	background-color: #444;
}

/**********************************************************
* Chapters
**********************************************************/

.chapters {
	background-color: #ddd;
	padding-top: 40px;
	padding-bottom: 40px;
}

.chapters-inner {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

.chapters h2 {
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

@media(min-width: 600px) {
	.chapters h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
}

.chapters ol {
	margin-left: 20px;
	font-size: 1.8em;
	line-height: 1.7em;
}

@media(min-width: 600px) {
	.chapters ol {
		font-size: 2.2em;
	}
}

.chapters-isCurrentPage {
	padding-left: 5px;
	font-weight: bold;
}

/**********************************************************
* Got question
**********************************************************/

.gotQuestion {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.gotQuestion-inner {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

.gotQuestion h2 {
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

@media(min-width: 600px) {
	.gotQuestion h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
}

.gotQuestion p {
	font-size: 1.8em;
	line-height: 1.7em;
	margin-bottom: 30px;
}

@media(min-width: 600px) {
	.gotQuestion p {
		font-size: 2.2em;
	}
}