/**********************************************************
* General
**********************************************************/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 62.5%;
}

a:link,
a:visited {
	color: #222;
}

a:hover,
a:focus {
	text-decoration: none;
}

/**********************************************************
* Footer
**********************************************************/

.footer {
	background-color: #eee;
	padding: 20px;
	overflow: hidden;
}

.footer-inner {
	max-width: 700px;
	margin: 0 auto;
}

.footer p {
	color: #222;
	font-size: 1.5em;
}

.footer a {
	color: #222;
}

/**********************************************************
* Header
**********************************************************/

.header {
	background-color: #222;
}

.header-inner {
	overflow: hidden;
	padding: 20px;
	max-width: 700px;
	margin: 0 auto;
}

@media(min-width: 320px) {
	.header-inner {
		padding: 20px;
	}
}

/**********************************************************
* Logo
**********************************************************/

.logo {
	font-size: 2em;
	text-align: center;
}

@media(min-width: 340px) {
	.logo {
		float: left;
		font-size: 1.5em;
	}
}

.logo a {
	color: #fff;
	text-decoration: none;
}

/**********************************************************
* Navigation
**********************************************************/

.navigation {
	font-size: 1.5em;
	text-align: center;
	margin-top: 10px;
}

@media(min-width: 340px) {
	.navigation {
		float: right;
		margin-top: 0;
	}
}

.navigation a {
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	color: #fff;
}

@media(min-width: 340px) {
	.navigation a {
		margin-left: 7px;
		margin-right: 7px;
	}
}

.navigation a:hover,
.navigation a:active {
	color: #FF851B;
}

a.navigation-isActive {
	border-bottom: 1px solid #FF851B;
}

/**********************************************************
* Content
**********************************************************/

.content {
	padding-top: 40px;
	padding-bottom: 1px;
}

.content h1 {
	font-size: 3em;
	line-height: 1.2;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px 20px;
	color: #222;
	letter-spacing: -1px;
}

@media(min-width: 600px) {
	.content h1 {
		font-size: 4.5em;
	}
}

.content h2 {
	font-size: 2.2em;
	line-height: 1.2;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0 20px;
	color: #222;
	letter-spacing: -0.01em;
}

@media(min-width: 600px) {
	.content h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
}

.content h3 {
	font-size: 1.6em;
	line-height: 1.2;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0 20px;
	color: #222;
	text-transform: uppercase;
}

@media(min-width: 600px) {
	.content h3 {
		font-size: 1.9em;
		margin-bottom: 15px;
	}
}

.content p {
	font-size: 1.8em;
	line-height: 1.7em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 0 20px 10px;
	color: #222;
	font-family: 'PT serif';
}

@media(min-width: 600px) {
	.content p {
		font-size: 2.2em;
		margin-bottom: 30px;
	}
}

.content ol,
.content ul {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 0 20px 10px;
	color: #222;
	font-family: 'PT serif';
}

@media(min-width: 600px) {
	.content ol,
	.content ul {
		margin-bottom: 30px;
	}
}

.content ol li,
.content ul li {
	font-size: 1.8em;
	line-height: 1.7em;
	margin-left: 30px;
	margin-bottom: 5px;
}

@media(min-width: 600px) {
	.content ol li,
	.content ul li {
		font-size: 2.2em;
		margin-bottom: 10px;
	}
}

.content blockquote {
	font-style: italic;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px;
	color: #222;
}

.content blockquote cite {
	font-weight: bold;
}

.content p code,
.content ul code,
.content li code {
	font-size: 1.3em;
	color: #FF851B;
}

.content pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 2.3em;
	color: #222;
	background-color: #fcf6ff;
	margin-bottom: 30px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 600px) {
	.content pre {
		font-size: 2.7em;
		margin-bottom: 45px;
	}
}

/**********************************************************
* Chapter navigation
**********************************************************/

.chapterNavigation {
	font-size: 1.5em;
	overflow: hidden;
	background-color: #222;
}

.chapterNavigation-last {
	margin-bottom: 10px;
}

.chapterNavigation-inner {
	overflow: hidden;
	max-width: 700px;
	padding: 20px;
	margin: 0 auto;
}

a.chapterNavigation-previous:link,
a.chapterNavigation-previous:visited {
	float: left;
	text-decoration: none;
	color: #fff;
}

a.chapterNavigation-next:link,
a.chapterNavigation-next:visited {
	float: right;
	text-decoration: none;
	color: #fff;
}

a.chapterNavigation-previous:hover,
a.chapterNavigation-next:hover,
a.chapterNavigation-previous:active,
a.chapterNavigation-next:active {
	color: #FF851B;
}

.chapterNavigation-label {
	position: absolute;
	left: -999em;
}

@media(min-width: 360px) {
	.chapterNavigation-label {
		position: static;
		left: auto;
	}
}

/**********************************************************
* Hero
**********************************************************/

.hero {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #FF851B;
	background-color: #222;
}

@media(min-width: 600px) {
	.hero {
		padding-top: 60px;
		padding-bottom: 90px;
	}
}

.hero-logo {
	display: block;
	margin: 0 auto 10px;
	height: 100px;
}

@media(min-width: 500px) {
	.hero-logo {
		width: 200px;
	}
}

.hero h1 {
	font-size: 3em;
	line-height: 1.2;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px 20px;
	text-align: center;
	color: #fff;
}

@media(min-width: 600px) {
	.hero h1 {
		font-size: 4em;
	}
}

.hero p {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.7em;
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px 10px;
	color: #fff;
	font-family: 'PT serif';
}

@media(min-width: 600px) {
	.hero p {
		font-size: 2.2em;
	}
}

/*
text-transform: uppercase;
	text-decoration: none;
	padding: 14px 17px;
	font-size: 1.5em;
	color: #222;
	font-weight: bold;
	border: none;
	letter-spacing: 0.04em;
	text-align: center;
	margin: 0 auto;
	-webkit-appearance: none;
	border: 3px solid #FF851B;
	background-color: transparent;
	color: #FF851B;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Open sans';
 */

.hero-button:link,
.hero-button:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 70px;
	font-size: 1.5em;
	border: 3px solid #FF851B;
	color: #FF851B;
	font-weight: bold;
	letter-spacing: 0.04em;
	width: 100px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.hero-button:hover {
	color: #222;
	background-color: #FF851B;
}

/**********************************************************
* Benefits
**********************************************************/

.benefits {
	padding: 50px 20px;
	background-color: #f5f5f5;
}

.benefits h2 {
	text-align: center;
	font-size: 2.8em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	color: #222;
}

@media(min-width: 600px) {
	.benefits h2 {
		font-size: 3.5em;
	}
}

.benefit {
	border-bottom: 1px dotted #aaa;
    max-width: 600px;
    margin: 0 auto 40px;
}

.benefit h3 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 7px;
	color: #222;
}

@media(min-width: 600px) {
	.benefits h3 {
		font-size: 2.5em;
	}
}

.benefit p {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.4em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 20px 10px;
	color: #222;
	font-family: 'PT serif';
}

@media(min-width: 600px) {
	.benefit p {
		font-size: 2.2em;
	}
}
/**********************************************************
* Chapters
**********************************************************/

.chapters {
	background-color: #fcf6ff;
	padding-top: 40px;
	padding-bottom: 40px;
}

.chapters-inner {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

.chapters h2 {
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

@media(min-width: 600px) {
	.chapters h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
}

.chapters ol {
	margin-left: 20px;
	font-size: 1.8em;
	line-height: 1.7em;
	font-family: 'PT serif';
}

@media(min-width: 600px) {
	.chapters ol {
		font-size: 2.2em;
	}
}

.chapters-isCurrentPage {
	padding-left: 5px;
	font-weight: bold;
}

/**********************************************************
* Got question
**********************************************************/

.gotQuestion {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.gotQuestion-inner {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

.gotQuestion h2 {
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

@media(min-width: 600px) {
	.gotQuestion h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
}

.gotQuestion p {
	font-size: 1.8em;
	line-height: 1.7em;
	margin-bottom: 30px;
}

@media(min-width: 600px) {
	.gotQuestion p {
		font-size: 2.2em;
	}
}


/**********************************************************
* Share
**********************************************************/

.share {
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 700px;
	margin: 0 auto;
}

.share-button:link,
.share-button:visited {
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 30px;
	font-size: 1.1em;
	color: #222;
	border: 2px solid #eee;
	font-weight: bold;
	letter-spacing: 0.04em;
	width: 150px;
	text-align: center;
	margin: 0 auto;
}

.share-button:hover {
	background-color: #eee;
}

/**********************************************************
* Recs
**********************************************************/

.recommendations {
	padding: 40px 20px 20px;
}

.recommendations-title {
	text-align: center;
	font-size: 2.8em;
	line-height: 1.2em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: #222;
}

@media(min-width: 600px) {
	.recommendations-title {
		font-size: 3.5em;
	}
}

.recommendations-item {
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #222;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px dotted #aaa;
	max-width: 500px;
}

@media(min-width: 600px) {
	.recommendations-item {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.recommendations-item:last-child {
	border: none;
	margin-bottom: 0;
}

.recommendations-item p {
	font-size: 1.8em;
    line-height: 1.7em;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    color: #222;
    text-align: center;
    font-family: 'PT serif';
}

@media(min-width: 600px) {
	.recommendations-item p {
		font-size: 2.2em;
	}
}

.recommendations-item cite {
	font-weight: bold;
}

.subscribeForm {
	background-color: #222;
}

.subscribeForm-inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	padding: 40px 20px;
}

.subscribeForm-heading {
	font-size: 2.2em;
    line-height: 1.2em;
    color: #fff;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
	.subscribeForm-heading {
	    font-size: 2.5em;
	    margin-bottom: 15px;
	}
}

.subscribeForm p {
	color: #fff;
	font-size: 1.8em;
    line-height: 1.7em;
    margin-bottom: 20px;
    max-width: 620px;
    font-family: 'PT serif';
}

@media(min-width: 600px) {
	.subscribeForm p {
		font-size: 2.2em;
		margin-bottom: 30px;
	}
}

.subscribeForm-label {
	font-size: 1.8em;
	line-height: 1.5;
	margin-bottom: 5px;
	display: block;
	font-family: 'PT serif';
	color: #fff;
}

@media(min-width: 600px) {
	.subscribeForm-label {
		font-size: 2.2em;
	}
}

.subscribeForm-email {
	text-decoration: none;
	padding: 9px 10px;
	font-size: 1.8em;
	color: #222;
	border: 2px solid #eee;
	letter-spacing: -0.01em;
	margin: 0 auto;
	-webkit-appearance: none;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	font-family: 'PT serif';
}

@media(min-width: 600px) {
	.subscribeForm-email {
		font-size: 2.2em;
	}
}

@media(min-width: 650px) {
	.subscribeForm-email {
		display: inline-block;
		max-width: 350px;
		margin-right: 10px;
	}
}

.subscribeForm-email:focus {
	outline: 3px solid #FF851B;
	border: 2px solid #FF851B;
}

.subscribeForm-button {
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 17px;
	font-size: 1.5em;
	color: #222;
	font-weight: bold;
	border: none;
	letter-spacing: 0.04em;
	text-align: center;
	margin: 0 auto;
	-webkit-appearance: none;
	border: 3px solid #FF851B;
	background-color: transparent;
	color: #FF851B;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Open sans';
}

@media(min-width: 650px) {
	.subscribeForm-button {
		display: inline-block;
		width: 200px;
	}
}

.subscribeForm-button:hover {
	background-color: #FF851B;
	color: #222;
}