<!DOCTYPE HTML>
<html dir="ltr" lang="en">
	<head>
	    <title>{{ page.title }} | {{ site.name }}</title>
	    {% include head.html %}
	</head>
	<body>
		{% include header.html %}
        {% include chapterNavigation.html %}
        <div class="content">
			<h1>{{page.title }}</h1>
           	{{ content }}
        </div>
        {% include share.html %}
        {% include chapterNavigation.html last=true %}
        {% include chapterList.html %}
        {% include footer.html %}
	</body>
</html>